<a href="https://colab.research.google.com/github/jacksondouglasdesouza/artificial-intelligence-classes/blob/master/1_Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Este é uma comentário Comum usado em Python
print("Essa é minha primeira aula!")
#Este é outro comentário Comum usado em Python
#Este é outro comentário Comum usado em Python

Essa é minha primeira aula!

In [4]:
'''
Este é uma Doc string que é usada
para fazer documentação de seu código mais
também é usado para fazer comentários
de multiplas linhas no seu código!
'''
print("Aqui fiz comentários no meu código com Doc string")

Aqui fiz comentários no meu código com Doc string

In [5]:
print("Olá Comunidade Python...")
print(10)
print(20.50)

Olá Comunidade Python...
10
20.5

In [18]:
print('Maçã', 20, 30, 4.45)
#Este é outro comentário Comum usado em Python
print('Maçã', 20, 30, 4.45, sep="-")
print('Maçã', 20, 30, 4.45, sep="--")
print('Maçã', 20, 30, 4.45, sep=" | ")
print('Maçã', 20, 30, 4.45 , sep=" | ", end=" Fim da Lista")
print('\nEste texto é muito grande e eu tou afim de quebrar a linha'
'\nestou aplicando a quebra de linha agora! <<<<-------')

Maçã 20 30 4.45
Maçã-20-30-4.45
Maçã--20--30--4.45
Maçã | 20 | 30 | 4.45
Maçã | 20 | 30 | 4.45 Fim da Lista
Este texto é muito grande e eu tou afim de quebrar a linha
estou aplicando a quebra de linha agora! <<<<-------

In [26]:
print("A pontuação de [ %s ] foi do usuário [ %s ] " % ("Variável 01", "Variável 02"))
#outra forma
print("A pontuação de [ {} ] foi do usuário [ {} ] ".format("variável 01", "variável 02"))
#outra forma
var01 = '[ Variável 001 ]'
var02 = '[ Variável 002 ]'
print("A pontuação de" + var01+  "foi do usuário " + var02)

A pontuação de [ Variável 01 ] foi do usuário [ Variável 02 ]
A pontuação de [ variável 01 ] foi do usuário [ variável 02 ]
A pontuação de[ Variável 001 ]foi do usuário [ Variável 002 ]

In [27]:
#FORMA MAIS MODERNA DE USAR AS VARIÁVEIS NO TEXTO
nome = 'Jackson Douglas'
sobrenome = 'de Souza'

print(f'O nome completo do aluno é: {nome} {sobrenome}.')

O nome completo do aluno é: Jackson Douglas de Souza.

## **Atividade 001**
1º - Realize o print do seu nome completo, idade e altura. Use prints separados para cada operação.

In [28]:
print("Jackson Douglas de Souza")
print("Idade = 37 Anos")
print("Altura = 1.90 m")

Jackson Douglas de Souza
Idade = 37 Anos
Altura = 1.90 m

2º - Realize o print do seu nome completo, idade e altura. Use print único para esta operação.

In [33]:
nome = 'Jackson Douglas de Souza'
idade = 37
altura = 1.90

print(f"Nome completo: {nome}\nIdade: {idade} anos\nAltura: {altura:.2f} m")

Nome completo: Jackson Douglas de Souza
Idade: 37 anos
Altura: 1.90 m

3º - Ultilize o print de 3 números de sua escolha em um mesmo print, mais separados pelo caractere '-'.

In [35]:
print(3500, 8500, 15700, sep=" - ")

3500 - 8500 - 15700